body {
    font-family: 'Roboto', sans-serif;
}

.sp1 {
    color: olivedrab;
}

.sp2 {
    color: blueviolet;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
    padding-left: 10%;
    padding-top: 10%;
}

.link-button {
    background-image: linear-gradient(red, blueviolet);
    text-decoration: none;
    padding: 10px 50px;
    margin-left: 40%;
    color: azure;

}